<div class="container mt-5 bg-light">
  <div class="mb-3">
    <label for="name" class="form-label">image name</label>
    <input type="text" class="form-control" id="name"
    placeholder="Enter image name" #name>
  </div>
  <div class="mb-3">
    <label for="url" class="form-label">image url</label>
    <input type="url" class="form-control" id="url"
     placeholder="Enter image url" #url>
  </div>
  <div class="d-grid gap-2 pb-3">
    <button (click)="addImage(name , url)" class="btn btn-primary" type="button">add </button>

  </div>
  <app-display-card [images]="imagesArray"></app-display-card>
</div>
